.emacs-places
.emacs-saves/*
.ido.last
.org-id-locations
.recentf
.smex-items
auto-save-list/
backups/
elpa/
dotemacs/
emacs-backups/
eproject.lst
eshell/
image-dired/
menu_log.notes
places
tramp
var/
*.bak
*~
\#*\#
.DS_Store
